///
/// @file STARTERKIT/scss/base/_root.scss
/// \file STARTERKIT/scss/base/_root.scss
/// \ingroup STARTERKIT_SCSS_Base
/// \brief Base theming for the `<body>` tag.
///

// Body
// ----
// Applies the most basic settings for the body element.
@include establish-baseline;

* {
  @include box-sizing($box-model);
}

body {
  color: $body-text-color;
  font-family: $sans-stack;
  @include baseline-grid-background;
  line-height: normal;
}

