///
/// @file STARTERKIT/scss/base/_tables.scss
/// \file STARTERKIT/scss/base/_tables.scss
/// \ingroup STARTERKIT_SCSS_Base
/// \brief Theming for tables.
///

// Unadorned 2-column tables
table.cols-2 {
  width: 100%;
  font-family: $sans-stack;

  td {
    padding: .5em 0;
  }

}

