///
/// @file STARTERKIT/scss/layout/_l-header.scss
/// \file STARTERKIT/scss/layout/_l-header.scss
/// \ingroup STARTERKIT_SCSS_Layout
/// \brief Header layout
///

header {
	border-bottom: solid 2px #f8f8f8;
	background: rgba(255,255,255,.75);
	transition: all 0.3s ease;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 170px;
	.inner {
		max-width: $break4;
		margin: 0 auto;
		padding: 20px 0;
		.logo {
			opacity: 1;
			width: 305px;
			margin: 0 auto 30px;
			transition: all 0.4s ease-in-out;
 			//transition: opacity 0.5s linear, height 1s;
		}
		.nav {
			text-align: center;
			li {
				display: inline-block;
				text-align: left;
				margin: 0 20px;
				@include rem('font-size', 20px);
				a {
					color: #11434c;
					&:hover {
						text-decoration: none;
						color: #b9bf1f;
					}
				}
				&.active {
					a {
						color: #b9bf1f;
					}
				}
			}
		}
	}
	&.fixed {
		height: 70px;
		.inner {
			.logo {
				opacity: 0;
				height: 0;
			}
		}
	}
}