/*
 * ==================================================
 * Normalize
 * ==================================================
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
dialog,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
  margin-top: 0rem;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

a:hover, a:active {
  outline: 0;
}
a:focus {
  outline: thin dotted;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
}

/* Responsive images & embedded content */
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
.ie8 img {
  width: auto;
}

figure > img {
  display: block;
}

/* Override max-width 100% for map displays */
.gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img {
  max-width: none;
}

figure {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* Forms */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Tables  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Print styles */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    -webkit-filter: none !important;
            filter: none !important;
    text-shadow: none;
    -ms-filter: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
html {
  font-size: 75%;
  line-height: 1.16667em;
}

* {
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

h1 {
  font-size: 24px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.33333rem;
  margin-bottom: 1px;
  margin-bottom: 0.11667rem;
}

h2 {
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 2.33333rem;
  margin-bottom: 14px;
  margin-bottom: 1.16667rem;
}

h3 {
  font-size: 12px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

time {
  font-size: 9px;
  font-size: 0.75rem;
  line-height: 14px;
  line-height: 1.16667rem;
  padding-left: 1px;
  padding-left: 0.08333rem;
  letter-spacing: 1px;
}

blockquote {
  font-style: italic;
}

quote {
  font-style: italic;
}

#skip {
  position: absolute;
  left: -9999px;
}

a {
  transition: all 0.3s ease;
}
a:link, a:visited {
  color: #333;
  text-decoration: none;
}
a:focus, a:hover, a:active, a.active {
  color: #555;
  text-decoration: none;
}

table.cols-2 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
table.cols-2 td {
  padding: .5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol {
  margin: 0;
  padding: 0;
}

main .inner {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #003a4a;
  padding: 90px 0 20px;
  font-family: Raleway;
}
footer .inner {
  max-width: 1200px;
  margin: 0 auto;
}
footer .inner .nav {
  clear: both;
  text-align: center;
  margin-top: 120px;
}
footer .inner .nav li {
  text-align: left;
  display: inline-block;
  font-size: 15px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 15px;
}
footer .inner .nav li a {
  color: #fff;
}

header {
  border-bottom: solid 2px #f8f8f8;
  background: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
}
header .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
header .inner .logo {
  opacity: 1;
  width: 305px;
  margin: 0 auto 30px;
  transition: all 0.4s ease-in-out;
}
header .inner .nav {
  text-align: center;
}
header .inner .nav li {
  display: inline-block;
  text-align: left;
  margin: 0 20px;
  font-size: 20px;
  font-size: 1.66667rem;
}
header .inner .nav li a {
  color: #11434c;
}
header .inner .nav li a:hover {
  text-decoration: none;
  color: #b9bf1f;
}
header .inner .nav li.active a {
  color: #b9bf1f;
}
header.fixed {
  height: 70px;
}
header.fixed .inner .logo {
  opacity: 0;
  height: 0;
}

/* General Styling for all layout-components */
.layout-component {
  *zoom: 1;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.5) 21.05263%, rgba(127, 127, 255, 0.625) 21.05263%, rgba(127, 127, 255, 0.625) 26.31579%, rgba(0, 0, 255, 0.5) 26.31579%, rgba(0, 0, 255, 0.5) 47.36842%, rgba(127, 127, 255, 0.625) 47.36842%, rgba(127, 127, 255, 0.625) 52.63158%, rgba(0, 0, 255, 0.5) 52.63158%, rgba(0, 0, 255, 0.5) 73.68421%, rgba(127, 127, 255, 0.625) 73.68421%, rgba(127, 127, 255, 0.625) 78.94737%, rgba(0, 0, 255, 0.5) 78.94737%, rgba(0, 0, 255, 0.5));
  padding: 0 3%;
}
.layout-component:before, .layout-component:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.layout-component:after {
  clear: both;
}
@media (min-width: 600px) {
  .layout-component {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.5) 10.25641%, rgba(127, 127, 255, 0.625) 10.25641%, rgba(127, 127, 255, 0.625) 12.82051%, rgba(0, 0, 255, 0.5) 12.82051%, rgba(0, 0, 255, 0.5) 23.07692%, rgba(127, 127, 255, 0.625) 23.07692%, rgba(127, 127, 255, 0.625) 25.64103%, rgba(0, 0, 255, 0.5) 25.64103%, rgba(0, 0, 255, 0.5) 35.89744%, rgba(127, 127, 255, 0.625) 35.89744%, rgba(127, 127, 255, 0.625) 38.46154%, rgba(0, 0, 255, 0.5) 38.46154%, rgba(0, 0, 255, 0.5) 48.71795%, rgba(127, 127, 255, 0.625) 48.71795%, rgba(127, 127, 255, 0.625) 51.28205%, rgba(0, 0, 255, 0.5) 51.28205%, rgba(0, 0, 255, 0.5) 61.53846%, rgba(127, 127, 255, 0.625) 61.53846%, rgba(127, 127, 255, 0.625) 64.10256%, rgba(0, 0, 255, 0.5) 64.10256%, rgba(0, 0, 255, 0.5) 74.35897%, rgba(127, 127, 255, 0.625) 74.35897%, rgba(127, 127, 255, 0.625) 76.92308%, rgba(0, 0, 255, 0.5) 76.92308%, rgba(0, 0, 255, 0.5) 87.17949%, rgba(127, 127, 255, 0.625) 87.17949%, rgba(127, 127, 255, 0.625) 89.74359%, rgba(0, 0, 255, 0.5) 89.74359%, rgba(0, 0, 255, 0.5));
  }
}
@media (min-width: 768px) {
  .layout-component {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.5) 6.77966%, rgba(127, 127, 255, 0.625) 6.77966%, rgba(127, 127, 255, 0.625) 8.47458%, rgba(0, 0, 255, 0.5) 8.47458%, rgba(0, 0, 255, 0.5) 15.25424%, rgba(127, 127, 255, 0.625) 15.25424%, rgba(127, 127, 255, 0.625) 16.94915%, rgba(0, 0, 255, 0.5) 16.94915%, rgba(0, 0, 255, 0.5) 23.72881%, rgba(127, 127, 255, 0.625) 23.72881%, rgba(127, 127, 255, 0.625) 25.42373%, rgba(0, 0, 255, 0.5) 25.42373%, rgba(0, 0, 255, 0.5) 32.20339%, rgba(127, 127, 255, 0.625) 32.20339%, rgba(127, 127, 255, 0.625) 33.89831%, rgba(0, 0, 255, 0.5) 33.89831%, rgba(0, 0, 255, 0.5) 40.67797%, rgba(127, 127, 255, 0.625) 40.67797%, rgba(127, 127, 255, 0.625) 42.37288%, rgba(0, 0, 255, 0.5) 42.37288%, rgba(0, 0, 255, 0.5) 49.15254%, rgba(127, 127, 255, 0.625) 49.15254%, rgba(127, 127, 255, 0.625) 50.84746%, rgba(0, 0, 255, 0.5) 50.84746%, rgba(0, 0, 255, 0.5) 57.62712%, rgba(127, 127, 255, 0.625) 57.62712%, rgba(127, 127, 255, 0.625) 59.32203%, rgba(0, 0, 255, 0.5) 59.32203%, rgba(0, 0, 255, 0.5) 66.10169%, rgba(127, 127, 255, 0.625) 66.10169%, rgba(127, 127, 255, 0.625) 67.79661%, rgba(0, 0, 255, 0.5) 67.79661%, rgba(0, 0, 255, 0.5) 74.57627%, rgba(127, 127, 255, 0.625) 74.57627%, rgba(127, 127, 255, 0.625) 76.27119%, rgba(0, 0, 255, 0.5) 76.27119%, rgba(0, 0, 255, 0.5) 83.05085%, rgba(127, 127, 255, 0.625) 83.05085%, rgba(127, 127, 255, 0.625) 84.74576%, rgba(0, 0, 255, 0.5) 84.74576%, rgba(0, 0, 255, 0.5) 91.52542%, rgba(127, 127, 255, 0.625) 91.52542%, rgba(127, 127, 255, 0.625) 93.22034%, rgba(0, 0, 255, 0.5) 93.22034%, rgba(0, 0, 255, 0.5));
  }
}
.layout-component .column {
  margin-bottom: 20px;
}
.layout-component .column:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .layout-component {
    padding: 0;
  }
  .layout-component .left {
    -sgs-span-settings: ("span": 3.25, "location": 1, "grid": 12, "gutter": 0.25, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 25.84746%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
    text-align: right;
    background: red;
  }
  .layout-component .right {
    -sgs-span-settings: ("span": 8, "location": 5, "grid": 12, "gutter": 0.25, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 66.10169%;
    clear: right;
    float: right;
    margin-right: 0;
    background: green;
  }
}

/* 2 Col Section Image or Text */
.two-col-layout .right .section-lead {
  font-size: 25px;
  font-size: 2.08333rem;
  line-height: 30px;
  line-height: 2.5rem;
}
.two-col-layout .right .rows-wrap .two-col-image-row {
  margin-bottom: 30px;
  *zoom: 1;
}
.two-col-layout .right .rows-wrap .two-col-image-row:before, .two-col-layout .right .rows-wrap .two-col-image-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.two-col-layout .right .rows-wrap .two-col-image-row:after {
  clear: both;
}
.two-col-layout .right .rows-wrap .two-col-image-row .row-item {
  -sgs-span-settings: ("span": 6, "location": 1, "grid": 12, "gutter": 0.25, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 49.15254%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 1.69492%;
  text-align: center;
}
.two-col-layout .right .rows-wrap .two-col-image-row .row-item:last-child {
  -sgs-span-settings: ("span": 6, "location": 7, "grid": 12, "gutter": 0.25, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 49.15254%;
  clear: right;
  float: right;
  margin-right: 0;
}
